@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Prata&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply font-text
}

h1,h2,h3,h4,h5,h6{
    @apply font-heading
}

